<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigationlibrary">

    <application>
        <activity android:name=".nav.BdnavActivity" />
        <activity android:name=".BaiduActivity" />
    </application>

</manifest>